# ignore all
*
!*/
submodule

# allow any
!*.c
!*.cpp
!*.h
!*.tex
!out.sh
!*.py
!*makefile
!*makefile.monolis
!*makefile.bebopss
!*Makefile
!*Macfile
!.gitignore
!*plan.txt
!*rule.txt
!*.f90
!docs/verifications/pics/*.pdf
