# ignore all
*
!*/

# allow any
!*.c
!*.cpp
!*.h
!*.tex
!out.sh
!*.py
!*makefile
!*makefile.monolis
!*makefile.bebopss
!*Makefile
!*Macfile
!.gitignore
!*plan.txt
!*rule.txt
!*.f90
!install.sh
!monolis_update.sh
!monolis_install.sh
!docs/verifications/pics/*.pdf

lib/
include/
